XML/Прочее/Задание 7/XMLFile1Import.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://MyNames.com" targetNamespace="http://MyNames.com" xml:lang="ru"
           xmlns:con="http://Contact.com" 
           xmlns:s50="http://String50.com"
           xmlns:itn="http://ITN.com"
           >
<xs:import schemaLocation="ContactType.xsd" namespace="http://Contact.com"/>
<xs:import schemaLocation="String50Type.xsd" namespace="http://String50.com"/>
<xs:import schemaLocation="ITNType.xsd" namespace="http://ITN.com"/>
  <xs:group name="Показатели">
    <xs:annotation>
      <xs:documentation>
        Группа элементов для описания экономических показателей
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Выручка" type="Строка20" />
      <xs:element name="СебестоимостьПродаж" type="Строка20" />
      <xs:element name="ВаловаяПрибыль" type="Строка20" />
      <xs:element name="УправленческиеРасходы" type="Строка20" />
      <xs:element name="ПрочиеРасходы" type="Строка20" />
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="Строка20">
    <xs:annotation>
      <xs:documentation>
        Строка не более 20 любых символов
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Тип_Телефон">
    <xs:annotation>
      <xs:documentation>Простой тип для номера телефона</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+7|8)[\s(]*\d{3}[)\s]*\d{3}[\s-]?\d{2}[\s-]?\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="УправленческаяОтчетность">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Адресат">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="РуководительОрганизации" type="con:КонтактноеЛицо"/>
              <xs:element name="ВладелецОрганизации" type="con:КонтактноеЛицо"/>
              <xs:element name="ТопМенеджер" type="con:КонтактноеЛицо"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ВидОтчетности">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ОтчетОФинРезультатах">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Организация" type="s50:Строка50" />
                    <xs:element name="ИНН" type="itn:Тип_ИНН" />
                    <xs:element name="ЕдиницаИзмерения" type="Строка20" />
                    <xs:element name="Показатель">
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:group ref="Показатели"/>
              <xs:element name="ОтчетОДвиженииДенежныхСредств">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Организация" type="s50:Строка50" />
                    <xs:element name="ИНН" type="itn:Тип_ИНН" />
                    <xs:element name="ЕдиницаИзмерения" type="s50:Строка50" />
                    <xs:element name="Показатель">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ДенежныеПотокиОтТекущихОпераций">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="АрендныйПлатеж" type="Строка20" />
                                <xs:element name="ПерепродажаФинВложений" type="Строка20" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ДенежныеПотокиОтИнвестиционныхОпераций">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ПродажаВнеоборотныхАктивов" type="Строка20" />
                                <xs:element name="ПродажаАкцийДругихОрганизаций" type="Строка20" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>