XML/Семинар 3/06.10.2021.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="УправленческаяОтчетность">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Адресат">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="РуководительОрганизации">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="xs:string" />
                    <xs:element name="Телефон" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ВладелецОрганизации">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="xs:string" />
                    <xs:element name="Телефон" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТопМенеджер">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="xs:string" />
                    <xs:element name="Телефон" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ВидОтчетности">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ОтчетОФинРезультатах">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Организация" type="xs:string" />
                    <xs:element name="ИНН" type="xs:unsignedLong" />
                    <xs:element name="ЕдиницаИзмерения" type="xs:string" />
                    <xs:element name="Показатель">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Выручка" type="xs:unsignedShort" />
                          <xs:element name="СебестоимостьПродаж" type="xs:unsignedShort" />
                          <xs:element name="ВаловаяПрибыль" type="xs:unsignedShort" />
                          <xs:element name="УправленческиеРасходы" type="xs:unsignedByte" />
                          <xs:element name="ПрочиеРасходы" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОтчетОДвиженииДенежныхСредств">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Организация" type="xs:string" />
                    <xs:element name="ИНН" type="xs:unsignedLong" />
                    <xs:element name="ЕдиницаИзмерения" type="xs:string" />
                    <xs:element name="Показатель">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ДенежныеПотокиОтТекущихОпераций">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="АрендныйПлатеж" type="xs:unsignedByte" />
                                <xs:element name="ПерепродажаФинВложений" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ДенежныеПотокиОтИнвестиционныхОпераций">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ПродажаВнеоборотныхАктивов" type="xs:unsignedByte" />
                                <xs:element name="ПродажаАкцийДругихОрганизаций" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
